/*
 * Variant: Rosé Pine Dawn
 * Maintainer: DankChoir
 */

 @define-color base            #faf4ed;
 @define-color surface         #fffaf3;
 @define-color overlay         #f2e9e1;
 
 @define-color muted           #9893a5;
 @define-color subtle          #797593;
 @define-color text            #575279;
 
 @define-color love            #b4637a;
 @define-color gold            #ea9d34;
 @define-color rose            #d7827e;
 @define-color pine            #286983;
 @define-color foam            #56949f;
 @define-color iris            #907aa9;
 
 @define-color highlightLow    #f4ede8;
 @define-color highlightMed    #dfdad9;
 @define-color highlightHigh   #cecacd;
 
 * {
     border: none;
     font-size: 14px;
     font-family: "JetBrainsMono Nerd Font,JetBrainsMono NF" ;
     min-height: 25px;
 }
 
 window#waybar {
   background: transparent;
   margin: 5px;
  }
 
 #custom-logo {
   padding: 0 10px;
   color: @iris; /* iris */
 }
 
 .modules-right {
   padding-left: 5px;
   border-radius: 15px 0 0 15px;
   margin-top: 2px;
   background: @surface; /* surface */
   color: @text; /* text */
 }
 
 .modules-center {
   padding: 0 15px;
   margin-top: 2px;
   border-radius: 15px 15px 15px 15px;
   background: @surface; /* surface */
   color: @text; /* text */
 }
 
 .modules-left {
   border-radius: 0 15px 15px 0;
   margin-top: 2px;
   background: @surface; /* surface */
   color: @text; /* text */
 }
 
 #battery,
 #custom-clipboard,
 #custom-colorpicker,
 #custom-powerDraw,
 #bluetooth,
 #pulseaudio,
 #network,
 #disk,
 #memory,
 #backlight,
 #cpu,
 #temperature,
 #custom-weather,
 #idle_inhibitor,
 #jack,
 #tray,
 #window,
 #workspaces,
 #clock {
   padding: 0 5px;
   color: @text; /* text */
 }
 #pulseaudio {
   padding-top: 3px;
 }
 
 #temperature.critical,
 #pulseaudio.muted {
   color: @love; /* love */
   padding-top: 0;
 }
 
 #clock{
   color: @pine; /* pine */
 }
 
 #battery.charging {
     color: @base; /* base */
     background-color: @foam; /* foam */
 }
 
 #battery.warning:not(.charging) {
     background-color: @gold; /* gold */
     color: @base; /* base */
 }
 
 #battery.critical:not(.charging) {
     background-color: @love; /* love */
     color: @base; /* base */
     animation-name: blink;
     animation-duration: 0.5s;
     animation-timing-function: linear;
     animation-iteration-count: infinite;
     animation-direction: alternate;
 }
 
 
 @keyframes blink {
     to {
         background-color: @base; /* base */
         color: @love; /* love */
     }
 }