@import "~/.config/rofi/fonts.rasi"

//@theme "~/dotfiles/rofi/.config/rofi/themes/KooL_style-4.rasi"
//@theme "~/.config/rofi/themes/launchpad.rasi"
//@theme "~/.config/rofi/themes/rounded-pink-dark.rasi"
//@theme "~/.config/rofi/themes/nord-twoLines.rasi"
//@theme "~/.config/rofi/themes/rounded-common.rasi"
//@theme "~/.config/rofi/themes/rounded-orange-dark.rasi"
@theme "~/.config/rofi/themes/rounded-pink-dark.rasi"
